<!-- =======================
Case studies START -->
<section class="bg-light pb-0">
	<div class="container">
		<!-- Title -->
		<div class="inner-container-small mx-auto">
			<!-- Title -->
			<div class="text-center mb-6">
				<h2 class="mb-">Case studies</h2>
				<p class="mb-0">Discover a selection of our most recent client projects, showcasing our expertise, creativity, and commitment to delivering outstanding results.</p>
			</div>
		</div>
		
		<!-- Projects -->
		<div class="row g-4 g-lg-5 justify-content-center">
			<!-- Card item -->
			<div class="col-md-6 col-lg-4">
				<div class="card card-img-scale card-element-hover overflow-hidden">
					<!-- Card image -->
					<div class="card-img-scale-wrapper">
						<!-- Hover elements -->
						<div class="card-img-overlay hover-element d-flex align-items-center justify-content-center">
							<!-- Client image -->
							<img src="assets/images/client/client-white/02.svg" class="h-40px z-index-2" alt="client logo">
							<!-- BG overlay -->
							<div class="bg-overlay bg-dark opacity-7"></div>
						</div>
						<!-- Case studie image -->
						<img src="assets/images/portfolio/list/02.jpg" class="img-scale card-img-top" alt="portfolio-img">
					</div>

					<div class="card-body">
						<h6 class="card-title mb-2">Website Optimization for TechWave</h6>
						<p class="card-text mb-3">The most powerful software & app landing software marketing business.</p>
						<!-- Badge list -->
						<div class="hstack flex-wrap gap-2 mb-4">
							<div class="badge border heading-color bg-light">Branding</div>
							<div class="badge border heading-color bg-light">Packaging</div>
							<div class="badge border heading-color bg-light">Development</div>
						</div>
						<!-- Button -->
						<a href="portfolio-case-studies-v2.html" class="text-primary-hover stretched-link heading-color mb-0">View case study<i class="fa-solid fa-arrow-right-long fa-fw ms-2"></i></a>
					</div>
				</div>
			</div>

			<!-- Card item -->
			<div class="col-md-6 col-lg-4">
				<div class="card card-img-scale card-element-hover overflow-hidden">
					<!-- Card image -->
					<div class="card-img-scale-wrapper">
						<!-- Hover elements -->
						<div class="card-img-overlay hover-element d-flex align-items-center justify-content-center">
							<!-- Client image -->
							<img src="assets/images/client/client-white/03.svg" class="h-40px z-index-2" alt="client logo">
							<!-- BG overlay -->
							<div class="bg-overlay bg-dark opacity-7"></div>
						</div>
						<!-- Case studie image -->
						<img src="assets/images/portfolio/list/01.jpg" class="img-scale card-img-top" alt="portfolio-img">
					</div>

					<div class="card-body">
						<h6 class="card-title mb-2">Transforming Ideas into Reality</h6>
						<p class="card-text mb-3">The most powerful software & app landing software marketing business.</p>
						<!-- Badge list -->
						<div class="hstack flex-wrap gap-2 mb-4">
							<div class="badge border heading-color bg-light">UI/UX design</div>
							<div class="badge border heading-color bg-light">Research</div>
						</div>
						<!-- Button -->
						<a href="portfolio-case-studies-v2.html" class="text-primary-hover stretched-link heading-color mb-0">View case study<i class="fa-solid fa-arrow-right-long fa-fw ms-2"></i></a>
					</div>
				</div>
			</div>

			<!-- Card item -->
			<div class="col-md-6 col-lg-4">
				<div class="card card-img-scale card-element-hover overflow-hidden">
					<!-- Card image -->
					<div class="card-img-scale-wrapper">
						<!-- Hover elements -->
						<div class="card-img-overlay hover-element d-flex align-items-center justify-content-center">
							<!-- Client image -->
							<img src="assets/images/client/client-white/04.svg" class="h-40px z-index-2" alt="client logo">
							<!-- BG overlay -->
							<div class="bg-overlay bg-dark opacity-7"></div>
						</div>
						<!-- Case studie image -->
						<img src="assets/images/portfolio/list/03.jpg" class="img-scale card-img-top" alt="portfolio-img">
					</div>

					<div class="card-body">
						<h6 class="card-title mb-2">Bio Cosmetics</h6>
						<p class="card-text mb-3">The most powerful software & app landing software marketing business.</p>
						<!-- Badge list -->
						<div class="hstack flex-wrap gap-2 mb-4">
							<div class="badge border heading-color bg-light">Branding</div>
							<div class="badge border heading-color bg-light">UI/UX design</div>
						</div>
						<!-- Button -->
						<a href="portfolio-case-studies-v2.html" class="text-primary-hover stretched-link heading-color mb-0">View case study<i class="fa-solid fa-arrow-right-long fa-fw ms-2"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!-- Button -->
		<div class="text-center pt-6">
			<a href="portfolio-grid.html" class="btn btn-lg btn-dark mb-0">Explore all case studies</a>
		</div>
	</div>

	<!-- CTA -->
	<div class="bg-primary d-sm-flex align-items-center justify-content-center gap-2 mt-6 mt-sm-8 p-4">
		<ul class="avatar-group mb-3 mb-ms-0">
			<li class="avatar avatar-sm">
				<img class="avatar-img rounded-circle" src="assets/images/avatar/06.jpg" alt="avatar">
			</li>
			<li class="avatar avatar-sm">
				<img class="avatar-img rounded-circle" src="assets/images/avatar/05.jpg" alt="avatar">
			</li>
			<li class="avatar avatar-sm">
				<div class="avatar-img rounded-circle text-bg-dark">
					<i class="bi bi-telephone text-white position-absolute top-50 start-50 translate-middle"></i>
				</div>
			</li>
		</ul>
		<p class="fw-normal text-white mb-0">Maximize Productivity by Simplifying Solution Search <a href="#" class="text-decoration-underline text-white fw-semibold">Got a project in mind?</a></p>
	</div>
</section>
<!-- =======================
Case studies END -->