{% load static %}

<!-- CSS personnalisé pour logos clients -->
<link rel="stylesheet" type="text/css" href="{% static 'css/custom-client-logos.css' %}">

<!-- =======================
Client START -->
<section class="pb-0 clients-logo-section">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-3 mb-2 mb-md-0">
				<h5 class="pe-6">100+ Companies trust us</h5>
			</div>

			<div class="col-md-9">
				<!-- Slider START -->
				<div class="swiper" data-swiper-options='{
						"slidesPerView": 2, 
						"spaceBetween": 50,
						"autoplay": {
							"delay": 0,
							"disableOnInteraction": false
						},
						"speed": 5000,
						"loop": true,
						"breakpoints": { 
							"576": {"slidesPerView": 3}, 
							"992": {"slidesPerView": 4}, 
							"1200": {"slidesPerView": 5}
						}}'>

					<!-- Slider items -->
					<div class="swiper-wrapper align-items-center">
						<!-- Image -->
						<div class="swiper-slide">
							<img src="{% static 'images/client/01.svg' %}" alt="client-img">
						</div>
						<!-- Image -->
						<div class="swiper-slide">
							<img src="{% static 'images/client/02.svg' %}" alt="client-img">
						</div>
						<!-- Image -->
						<div class="swiper-slide">
							<img src="{% static 'images/client/03.svg' %}" alt="client-img">
						</div>
						<!-- Image -->
						<div class="swiper-slide">
							<img src="{% static 'images/client/04.svg' %}" alt="client-img">
						</div>
						<!-- Image -->
						<div class="swiper-slide">
							<img src="{% static 'images/client/05.svg' %}" alt="client-img">
						</div>
						<!-- Image -->
						<div class="swiper-slide">
							<img src="{% static 'images/client/01.svg' %}" alt="client-img">
						</div>
					</div>
				</div>
				<!-- Slider END -->
			</div>
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Client END -->